<section class="contacts container">
    <div class="contacts__logo">
        <img src="img/contacts-logo.png" alt="logo" class="contacts__logo_img">
        <h6 class="contacts__logo_title">Analytics</h6>
    </div>
    <ul class="contacts__list">
        <li class="contacts__list_item"><a href="#" class="contacts__list_item-link">Product</a></li>
        <li class="contacts__list_item"><a href="#" class="contacts__list_item-link">Pricing Plans</a></li>
        <li class="contacts__list_item"><a href="#" class="contacts__list_item-link">FAQ</a></li>
        <li class="contacts__list_item"><a href="#" class="contacts__list_item-link">Blog</a></li>
    </ul>
    <ul class="contacts__links">
        <li class="contacts__links_item">
            <a href="https://www.facebook.com/" class="contacts__links_item-link">
                <img src="img/Facebook.png" alt="">
            </a>
        </li>
        <li class="contacts__links_item">
            <a href="https://twitter.com/" class="contacts__links_item-link"><img src="img/Twitter.png" alt=""></a>
        </li>
        <li class="contacts__links_item">
            <a href="https://instagram.com/" class="contacts__links_item-link"><img src="img/Instagram.png" alt=""></a>
        </li>
    </ul>
</section>