<section class="customizable">
    <article class="customizable__picture">
        <img src="img/screen-02.png" class="customizable__picture_img">
    </article>
    <article class="customizable__info">
        <h4 class="customizable__info_title">Fully customizable to address your needs</h4>
        <p class="customizable__info_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum
            nisi aliquet volutpat pellentesque volutpat est. Sapien in etiam vitae nibh nunc mattis imperdiet sed
            nullam. Vitae et, tortor pulvinar risus pulvinar sit amet.</p>
    </article>
</section>