<section class="main-screen">
    <article class="main-screen__left">
        <h2 class="main-screen__left_title">Monitor your business on real-time dashboard</h2>
        <p class="main-screen__left_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat pellentesque
            volutpat est. Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam. </p>
        <a  class="main-screen__left_link" href="#pricing">Try for free</a>
    </article>
    <article class="main-screen__right">
        <img src="img/main-screen-small.png" alt="">
    </article>
</section>