<nav class="nav container">
    <div class="nav__logo">
        <img src="img/Subtract3.png" alt="logo" class="nav__logo_img">
        <h1 class="nav__logo_title">Analytics</h1>
    </div>
    <ul class="nav__menu">
        <li><a href="#products" class="nav__menu_link">Products</a></li>
        <li><a href="#pricing" class="nav__menu_link">Pricing</a></li>
        <li><a href="#faq" class="nav__menu_link">FAQ</a></li>
        <li><a href="#blog" class="nav__menu_link">Blog</a></li>
        <li><a href="#blog" class="nav__menu_link">Blog</a></li>
    </ul>
    <div class="nav__signs">
        <button id="signInBtn" type="button" class="nav__signs_btn">Sign in</button>
        <button id="signUpBtn" type="button" class="nav__signs_btn">Sign up</button>
    </div>
</nav>