<section class="reports">
    <article class="reports__info">
        <h4 class="reports__info_title">Automated Reports & Widget Alerts</h4>
        <p class="reports__info_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi
            aliquet volutpat pellentesque volutpat est. Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam.
            Vitae et, tortor pulvinar risus pulvinar sit amet.</p>
    </article>
    <article class="reports__picture">
        <img src="img/reports.png" class="reports__picture_img">
    </article>
</section>