<section class="templates">
    <article class="templates__info">
        <h4 class="templates__info_title">Pre-built Dashboard Templates</h4>
        <p class="templates__info_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi
            aliquet volutpat pellentesque
            volutpat est. Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus
            pulvinar sit amet.</p>
    </article>
    <article class="templates__picture">
        <img src="img/screen-03.png" class="templates__picture_img">
    </article>
</section>